<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>{{title}}</p>
    <a (click)="users()" routerLinkActive='active'> Users </a>
    <br>
    <a (click)="employees()" routerLinkActive='active'> Employees </a>
  </mat-drawer>


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="example-sidenav-content">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </div>
    <a class='ml-20' (click)="users()" routerLinkActive='active'> Users </a>
    <a class='ml-20' (click)="employees()" routerLinkActive='active'> Employees </a>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet> </router-outlet>
</mat-drawer-container>

